:host(app-table) {
	display: flex;
	flex-direction: column;
	align-items: center;

	h1, h3 {
		color: #000000;
	}

	.table {
		width: 150px;
		height: 70px;
		background-color: rgba(128, 128, 128, 0.4);
		border: solid 1px #000000;
		border-radius: 15px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		p {
			display: none;
		}

		&.taken {
			background-color:  #FF2600;
			opacity: 0.8;
			p {
				display: block;

			}
			h3 {
				font-size: 20px;
			}
		}
	}
	.table:hover {
		background-color: rgb(187, 98, 56);
		cursor: pointer;
		
	}
}