<div id="hero">
  <section class="d-flex align-items-center" style="height: 100%;">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
      <div class="row">
        <div class="col-lg-8">
          <h1>Welcome to <span>our restaurant website</span></h1>
          <h2>This website was made as a final project in SDA academy</h2>

          <div class="btns">
            <a routerLink="/menu" class="btn-menu animated fadeInUp scrollto">Our Menu</a>
            <a routerLink="/plan" class="btn-book animated fadeInUp scrollto">Book a Table</a>
          </div>
        </div>
        <div class="col-lg-4 d-flex align-items-center justify-content-center position-relative" data-aos="zoom-in" data-aos-delay="200">
          <a href="https://www.youtube.com/watch?v=C7_-aMxTdk4" class="glightbox play-btn"></a>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
</div>
