<section id="chefs" class="chefs">
  <div class="container">

    <div class="section-title">
      <h2>Our Proffesional <span>"Chefs"</span></h2>
      <p>We are not real chefs, but we are the ones who created this website</p>
    </div>

    <div class="row">

      <div class="col-lg-4 col-md-6 ">
        <div class="member">
          <div class="pic"
            style="background-image: url('https://cdn.discordapp.com/attachments/866787221783445524/873444995691065364/mina_must_valge.png'); background-size: cover;border-radius: 10px">
          </div>
          <div class="member-info">
            <h4>Tanel Tumanov</h4>
            <span>ttumanov6@gmail.com</span>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="member">
          <div class="pic" style="background-image: src('/assets/mypic.jpg'); background-size: cover; border-radius: 10px;"><img
              src="/assets/mypic.jpg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Milica Gavrilov</h4>
            <span>19mica94@gmail.com</span>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="member">
          <div class="pic"
            style="background-image: url('https://cdn.discordapp.com/attachments/866787221783445524/873449628681510952/webcam-toy-photo1_1.jpg'); background-size: cover; background-repeat: no-repeat;border-radius: 10px">
          </div>
          <div class="member-info">
            <h4>Mihkel-Mart Elvei</h4>
            <span>elveimihkelmart@gmail.com</span>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>