<section id="about" class="about">
    <div class="container">

      <div class="row">
        <div class="col-lg-6">
          <img src="https://cdn.discordapp.com/attachments/866787221783445524/872508979278921728/wc4.png" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <h3>About Us</h3>
          <p>
            Our company introduces cooking mechanics done to bring as much flavor as possible, using eco-friendly methods for cooking along with spices and herbs to each of your dishes. Your tastebuds will never feel lonely again. You can meet the Chefs responsible for your experience over <a routerLink="/chefs">here.</a> 
          </p>
         <p>
          If you come with an intetion of luxury tastes and sweet liquour, let as indulge You in a wide selection of wines from countries all over the world. With our own restoraunts' special touch on-site wine maker, down in the cellar, touring on site on Tuesdays and Fridays, name a country, we have it. The sweet, juicy and rich gregorian valley or do you prefer the dry and strong flavors of Paris, the choice and the meal will be yours..
         </p>
          <!-- <div class="row icon-boxes">
            <div class="col-md-6">
              <i class="bx bx-receipt"></i>
              <h4>Corporis voluptates sit</h4>
              <p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip</p>
            </div>
            <div class="col-md-6 mt-4 mt-md-0">
              <i class="bx bx-cube-alt"></i>
              <h4>Ullamco laboris nisi</h4>
              <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
            </div>
          </div> -->
        </div>
      </div>

    </div>
  </section><!-- End About Section -->

  <section id="why-us" class="why-us">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Why Us</h2>
        <p>Why Choose Us To Develop Your Website</p>
      </div>

      <div class="row">

        <div class="col-lg-4">
          <div class="box" data-aos="zoom-in" data-aos-delay="100">
            <span>ANGULAR</span>
            <h4>JavaScript Framework</h4>
            <p>We used Angular framework to develop this website</p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="box" data-aos="zoom-in" data-aos-delay="200">
            <span>Bootstrap</span>
            <h4>UI design</h4>
            <p>We used Bootstrap to design everything that You can see on this website</p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="box" data-aos="zoom-in" data-aos-delay="300">
            <span>Mongodb</span>
            <h4>Database</h4>
            <p>WE used Mongodb, the most popular database for modern apps</p>
          </div>
        </div>

      </div>

    </div>
  </section>